body{
    background-color: rgb(20, 27, 47)
    
}

/* Cabezera */
.myTitle{
    text-align: center;
    background-color: rgb(163, 166, 199);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    padding: 20%;
    border-bottom: 2px solid rgb(63, 107, 109);
    background-image: url(CabezeraImagen.jpg);
    border-bottom: 2px solid black;
    color: rgb(169, 188, 199);
    
}

.myTitle h1{
    margin-top: 0;
    font-size: 100px;
    margin: 0;
}
.myTitle h2{
    margin-top: 0;
}

.WordsTitle{
    background-color: rgba(68, 85, 235, 0.2);
    padding: 2%;
    transition: all 1s ease;
    
}
.WordsTitle:hover{
    background-color: rgba(44, 57, 177, 0.2);
}


/* Fin Cabezera */


/* Formulario */

.description{
    font-size: 20px;
    color: rgb(199, 212, 219);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(27, 53, 107, 0.39);
    padding: 1%;
    text-align: center;
    transition: all 1.5s ease;
    width: 80%;
    margin-left: 8%;
}

.description:hover{
    /* transform: scale(0.9); */
    color: white;
    background-color: rgba(15, 33, 73, 0.644);
}


.tabla{
    margin-top: 0;
    background-color: cadetblue;
    padding: 0%;
    margin: 0;
    background-image: url(SeguroLista.jpg);
    filter: opacity(80%);
    
}

.lista{
    text-align: center;
    width: 40%;
    margin: 2%;
    margin-left: 29%;
    list-style: none;
    font-size: 30px;
    display: block;
    border-radius: 4px;
    border: 4px solid rgb(18, 55, 102);
    color: white; 
    background-color: rgba(8, 22, 34, 0.792);   

}

.CajaLista{
    background-color: rgba(29, 65, 141, 0.877); 
    padding: 2%;
    width: 80%;
    margin-left: 7%;
    margin-top: 2%;
    border-radius: 5%;
}


#nombre_id, #apellido_id, #dni_id,
#email_id, #telefono_id{
    color: rgb(7, 11, 32);
    background-color: rgb(255, 255, 255);
    width: 40%;
    
    
    
} 



/* Fin Formulario */


/* Tipos de seguro */

.typeSeguro{
    display: inline-flex;
    margin-left: 8%;
}

.typeSeguroTitle{
    font-size: 20px;
    color: rgb(229, 235, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 4px 4px black;
}


.Basic, .Intermedio, .Premium{
    margin-right: 10%;
}

.contenedorImagen{
    background: rgba(248, 248, 248, 0.239);
    margin: 0;
    padding: 0;
    transition: all 1s ease;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid rgba(14, 20, 51, 0.568);
    filter: grayscale(80%);
}

.contenedorImagen:hover{
    color: rgb(29, 43, 87);
    background: rgba(248, 248, 248, 0.418);
    transform: scale(1.1);
    filter: grayscale(0%);
}






/* 
.Basic h1, .Intermedio h1, .Premium h1,
.Basic h2, .Intermedio h2, .Premium h2{
    background-color: rgb(55, 85, 93, 0.3);
} */


.Basic img, .Intermedio img, .Premium img{
    width: 320px;
    height: 400px;
    /* height: 200px;    */
    position: relative;
    display: inline-block;
    
}

.CajaListaTitle{
    font-size: 25px;
    color: rgb(229, 235, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-shadow: 2px black; */
    padding: 2%;
    text-align: center;
    text-shadow: 4px 4px black;
    width: 40%;
    margin-left: 27%;
    
}

/* Para colocar el texto centrado */
/* .textoImagen{
    position: absolute;
    top: 10px;
    left: 10px;
}

.textoCentrado{
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
} */

#answer{
    color: rgba(94, 135, 177, 0.897);
    background-color: rgba(27, 52, 107, 0.651);
    padding: 2%;
    margin-top: 2%;
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 2px black;
}



footer{
    background-color: rgb(20, 42, 83);
    color: rgb(173, 188, 200);
    text-shadow: 2px 2px black;
    font-size: 25px;
    text-align: center;
    height: 40px;
    margin-top: 2%;
    padding: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


